<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<h3>Display All Orders</h3><br />
<hr>
<div class="container">
    <h4>Order List</h4>
    <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>     
       <% if !@orders.blank? %>
        <% for item in @orders %>
        <tr><td><%= item.name %></td>
        <td><%= item.category %></td>
        <td><%= item.custfirstname %></td>
        <td><%= item.custlastname %></td>
        <td><%= item.price %> <%= item.currency %></td>
        <td><%= item.discount %> <%= item.currency %></td>
        <td><%= item.payment %> <%= item.currency %></td></tr>
        <% end %>
    <% else %>
    <% end %>
    </tbody>
    </table>
    </div>
    </body>
    </html>

            
    